#filter
  - filtering_options.each do |option|
    %a{:id => "filter-#{option.type}", :class => "filter-option", :href=>"#"}= option.display
    %div{:id => "#{option.type}-selector", :class => "selector"}
      - option.items.each do |category, items|
        .selector-column
          %p.selector-title= category
          - items.each do |id,attrs|
            %ul
              %li
                %input{:type => "checkbox", :id => id, :name => "s-#{id}", :value => id, :checked => in_sources?(id.to_s)}
                %label{:for => id}= attrs["name"]
      .selector-actions
        %button#submit-search Search
        %button#select-all Select all
        %button#reset Reset
        %a#close-collection-selector{:href => "#"} Close