!!!
%html
  %head
    %meta{'http-equiv' => "Content-type", :content => "text/html;charset=utf-8"}/
    %link{:href =>"/stylesheets/application.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:rel => "alternate", :href => @rss_url, :type => "application/rss+xml", :title => "", :id => "gallery"}
  %title UCLA Digital Collection
  %body
    #menu-wrapper
      %p#title
        UCLA Images collection
      %form#search{:action => "/", :method => "get"}
        %div#query
          %label Search for
          %input{:type => "text", :name => "q", :value => @query}
          %label= @sources.nil? ? "(no collection selected)" : "in #{@sources.size} collections"
        =partial :filter
    = yield
    #bottom>
      %a{:href => "http://github.com/pangel/collections/issues"} Something wrong? Click here!
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/js/main_script.js"}
    - unless @nbslices.nil?
      %script{:type => "text/javascript", :src => "/js/panel_script.js"}
      :javascript
        $(document).ready(function() {

          // The number of blocks in the page, minus 1, since indexes start at 0.
          max_block_id = #{@nbslices-1};

          // Set the width of the container #document so the image blocks do not overflow
          var document_width = #{@nbslices} * (525 + 105)
          $('#document').css({'width':document_width});

          // Results' metadata
          #{@details_store}
        });